header {
    display: flex;
    justify-content: space-around;
}

.logos-sociaux {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chaussure {
    display: flex;
    position: relative;
    aspect-ratio: 1/1;
}

.prix,
.jordan {
    position: absolute;
    z-index: 2;
}

.jordan {
    top: 3%;
    left: 35%;
}

.chaussure img {
    z-index: 1;
}

.flextool {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

footer {
    display: flex;
    flex-direction: row;
}

.logo-nike {
    flex: 1;
}

.slogan {
    flex: 2;
}

/*Affichage téléphone*/
@media screen and (max-width: 768px) {
    header {
        flex-direction: column-reverse;
    }

    .logos-sociaux {
        justify-content: space-evenly;
    }

    .chaussure{
        flex: 1;
    }

}

/*Affichage tablette*/
@media screen and (min-width: 769px) and (max-width:1024px) {
    header {
        flex-direction: column-reverse;
    }

    .logos-sociaux {
        justify-content: space-evenly;
    }

    .articles-chaussures {
        display: flex;
        flex-wrap: wrap;
    }

    .chaussure {
        flex: 1 1 calc(50% - 10px);
    }
}

/*Affichage pc :*/
@media screen and (min-width: 1025px) {
    
    .articles-chaussures {
        display: flex;
        flex-wrap: wrap;
    }

    .chaussure {
        flex: 1 1 calc(33.33% - 10px);
    }
}