/*

.menu {
    margin: 10px;
}

nav {
    margin: 50px 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
    background-color: black;
    border-radius: 5px;
}

nav a:hover {
    background-color: grey;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 100px;
    float: none;
    display: list-item;
    position: relative;
}

.logos-sociaux a svg:hover {
    color: yellow;
}
    */

.menu {
    margin: 10px;
}

nav {
    margin: 50px 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    position: relative;
}

nav ul li {
    position: relative;
}

nav a {
    display: block;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
    background-color: black;
    border-radius: 5px;
    white-space: nowrap;
    /*évite les retour à la ligne*/
}

nav a:hover {
    background-color: grey;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
}

nav ul li:hover>ul {
    display: flex;
}

nav ul ul li {
    width: 100%;
}



@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    nav ul {
        flex-direction: column;
    }
}

@media screen and (min-width: 1025px) {
    nav ul {
        justify-content: space-between;
    }
    
}