:root {
    --main-color-1: black;
    --main-color-2: yellow;
    --main-color-3: white;
    --main-color-4: gray;

  }
 

.couleur-logo {
    fill: var(--main-color-3);
}

header{
  background-color: var(--main-color-1);
}

header svg{
  color: var(--main-color-3);
}

#accueil{
  border-radius: 5px;
  background-color: white;
  color: black;
}

.logos-sociaux svg{
  padding: 5px;
}