:root {
  --main-color-1: black;
  --main-color-2: yellow;
  --main-color-3: white;
  --main-color-4: gray;

}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.couleur-logo {
  fill: var(--main-color-3);
}

header {
  background-color: var(--main-color-1);
}

#accueil {
  border-radius: 5px;
  background-color: white;
  color: black;
}

.logos-sociaux svg {
  padding: 5px;
}

.solde {
  background-color: var(--main-color-2);
  margin: 0px;
  height: 50px;

}

.background {
  width: 100%;
  height: 400px;
  background-image: url('/images/wall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p {
  color: var(--main-color-1);
  text-align: center;
  font-weight: bold;
}

.prix,
.jordan {
  background-color: var(--main-color-2);
}

.prix {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  transform: rotate(-15deg);
}

.jordan {
  height: 35px;
  transform: rotate(15deg);
}

.prix,
.jordan {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.2);
  margin: 5px;
}

.prix p {
  margin: 0;
}

.chaussure {
  overflow: hidden;
  display: inline-block;
}

.chaussure img {
  width: 90%;
  filter: grayscale(100%);
  transition: 0.5s;
}

.chaussure img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);

}

.logo-nike {
  background-color: var(--main-color-2);
}

.logo-nike .couleur-logo {
  fill: var(--main-color-1);
}

.slogan {
  background-color: var(--main-color-1);
  color: var(--main-color-2);
}

@media screen and (max-width: 768px) {
  .logos-sociaux {
    background-color: var(--main-color-2);
  }

  .logos-sociaux svg {
    color: var(--main-color-1);
  }

  .logos-sociaux svg:hover {
    color: var(--main-color-3);
  }

  #accueil {
    background-color: var(--main-color-2);
  }

  .couleur-logo {
    fill: var(--main-color-2);
  }

  .background {
    display: none;
  }
}

/*Affichage tablette*/
@media screen and (min-width: 769px) and (max-width:1024px) {
  .logos-sociaux {
    background-color: var(--main-color-2);
  }

  .logos-sociaux svg {
    color: var(--main-color-1);
  }

  .logos-sociaux svg:hover {
    color: var(--main-color-3);
  }

  #accueil {
    background-color: var(--main-color-2);
  }

  .couleur-logo {
    fill: var(--main-color-2);
  }

  .background {
    display: none;
  }
}


/*Affichage pc : nécessaire ?*/
@media screen and (min-width: 1025px) {
  .logos-sociaux a svg {
    color: var(--main-color-3);
  }

  .logos-sociaux a svg:hover {
    color: var(--main-color-2);
  }
}